* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* backgrounds and colors utility */
.bg-lightgrey {
  background-color: rgba(234, 234, 234, 255);
}
.bg-lightblue {
  background-color: rgba(142, 218, 252, 255);
}
.bg-search-for {
  background-color: rgba(245, 246, 246, 255);
}
.bg-white {
  background-color: white;
}
.bg-send-message-area {
  background-color: rgba(243, 238, 234, 255);
}
.left-border {
  border-left: 1px solid rgb(187, 187, 187);
}
.bg-img-chat-area {
  background-image: url(../img/mine.jpg);
  background-size: 50%;
}
.color-lightgrey {
  color: rgb(177, 178, 181);
}
/* END backgrounds and colors utility */

/* utility */
.main-container {
  width: 100%;
  height: 100vh;
  min-width: 400px;
  min-height: 450px;
  position: relative;
  font-family: 'Lato',
  sans-serif;
}
.padding-10 {
  padding: 10px;
}
.margin-left-right-5 {
  margin: 0 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-self-end {
  justify-self: end;
}

.font-10 {
  font-size: 10px;
}
.font-17 {
  font-size: 17px;
}
.font-15 {
  font-size: 15px;
}

img {
  border-radius: 50px;
}
img.small-size {
  width: 45px;
  height: 45px;
}
img.standard-size {
  width: 50px;
  height: 50px;
}

.user-wrapper,
.contact-wrapper {
  width: 50%;
}

li {
  list-style: none;
  border-bottom: 1px solid rgba(234, 234, 234, 255);
}

.fontawesome-size {
  font-size: 20px;
}

i {
  cursor: pointer;
}
.menu-icons i {
  margin: 0 5px;
}
.menu-icons {
  width: 50%;
  text-align: right;
}
/* END utility */

/* sfondo in secondo piano */
.green-header {
  width: 100%;
  height: 130px;
  background-color: rgba(0, 150, 136, 255);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
.gradient-background {
  width: 100%;
  height: 100vh;
  background: rgb(210, 219, 220);
  background: linear-gradient(0deg, rgba(210, 219, 220, 1) 0%, rgba(221, 219, 209, 1) 100%);
}
/* END sfondo in secondo piano */

/* app area */
.app-container {
  width: 80%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
}
.left-container {
  width: 35%;
  height: 100%;
}
.right-container {
  width: 65%;
  height: 100%;
}
/* END app area */

/* left area */
.user {
  width: 100%;
  height: 90px;
}

.notifications {
  width: 100%;
  height: 100px;
}

.search-for {
  width: 100%;
  height: 70px;
}

.chat-list {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}
.chat-list > ul > li > img {
  margin: 5px;
}
/* END left area */

/* rigth area */
.chat-header {
  width: 100%;
  height: 90px;
}

.chat-main-area {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.send-message-area {
  width: 100%;
  height: 90px;
}
/* END rigth area */

/* debug */
