* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(210, 219, 220);
  background: linear-gradient(0deg, rgba(210, 219, 220, 1) 0%, rgba(221, 219, 209, 1) 85%, rgba(0, 150, 136, 1) 85%, rgba(0, 150, 136, 1) 100%);
}

/* backgrounds and colors utility */
.bg-lightgrey {
  background-color: rgb(234, 234, 234);
}
.bg-lightblue {
  background-color: rgb(142, 218, 252);
}
.bg-search-for {
  background-color: rgb(245, 246, 246);
}
.bg-white {
  background-color: white;
}
.bg-send-message-area {
  background-color: rgb(243, 238, 234);
}
.left-border {
  border-left: 1px solid rgb(187, 187, 187);
}
.bg-img-chat-area {
  background-image: url(../img/mine.jpg);
  background-size: 50%;
}
.color-lightgrey {
  color: rgb(177, 178, 181);
}
.color-darkgrey {
  color: rgb(122, 122, 122);
}
/* END backgrounds and colors utility */

/* utility */
.main-container {
  width: 100%;
  height: 100vh;
  min-width: 400px;
  min-height: 450px;
  position: relative;
  font-family: 'Lato',
  sans-serif;
}
.padding-10 {
  padding: 10px;
}
.margin-left-right-5 {
  margin: 0 5px;
}
.margin-bottom-5 {
  margin-bottom: 5px;
}

.flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-self-end {
  justify-self: end;
}

.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-17 {
  font-size: 17px;
}
.font-15 {
  font-size: 15px;
}

img {
  border-radius: 50px;
}
img.small-size {
  width: 35px;
  height: 35px;
}
img.standard-size {
  width: 40px;
  height: 40px;
}

.user-wrapper,
.contact-wrapper {
  width: 50%;
}

.underlined {
  text-decoration-line: underline;
  cursor: pointer;
}

li {
  list-style: none;
  border-bottom: 1px solid rgb(234, 234, 234);
  cursor: pointer;
}

.fontawesome-size {
  font-size: 18px;
}

i {
  cursor: pointer;
}
.menu-icons i {
  margin: 0 5px;
}
.menu-icons {
  width: 50%;
  text-align: right;
}
/* END utility */

/* app area */
.app-container {
  width: 80%;
  height: 95%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 999;
}
.left-container {
  width: 35%;
  height: 100%;
}
.right-container {
  width: 65%;
  height: 100%;
}
/* END app area */

/* left area */
.user {
  width: 100%;
  height: 70px;
}

.notifications {
  width: 100%;
  height: 75px;
}
.rounded-bell-container {
  padding: 10px;
  border-radius: 50px;
  background-color: rgba(255,255,255,0.7);
  color: rgb(142, 218, 252);
  margin-right: 10px;
}

.search-for {
  width: 100%;
  height: 50px;
}
.search-bar-container {
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-color: white;
  border-radius: 3px;
  display: flex;
}

label {
  width: 10%;
  height: 100%;
  text-align: right;
  padding: 5px 0;
}
#search-bar {
  width: 80%;
  height: 100%;
  padding: 0 10px;
  border: none;
}

.chat-list {
  width: 100%;
/*   height: 100%; */
  height: calc(100% - 70px - 75px - 50px);
  overflow-y: scroll;
}
.chat-list > ul > li:hover {
  background-color: rgb(247, 247, 247);
}
.chat-list > ul > li > img {
  margin: 5px;
}

.active {
  background-color: rgb(233, 235, 235);
}
/* END left area */

/* rigth area */
.chat-header {
  width: 100%;
  height: 70px;
}

.chat-main-area {
  width: 100%;
  height: calc(100% - 70px - 70px);
  overflow-y: scroll;
}
.chat-wrapper {
  width: 80%;
  height: 100%;
  margin: 20px auto 0;
}

.message-box {
  max-width: 300px;
  min-width: 100px;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px;
}
  /* status messaggi */
.received-message {
  background-color: white;
  align-self: flex-start;
}
.sent-message {
  background-color: rgb(213, 249, 186);
  align-self: flex-end;
}
  /* END status messaggi */

.send-message-area {
  width: 100%;
  height: 70px;
  padding: 15px;
  justify-content: space-between;
}
.emoticons, .voice-recorder {
  width: 10%;
  text-align: center;
}
.message-input-bar {
  width: 80%;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
}
.message-input-bar > input {
  border: none;
}
/* END rigth area */