<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <!-- link al fontawesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
   <!-- link a google fonts -->
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap" rel="stylesheet">
   <!-- link al css -->
   <link rel="stylesheet" href="css/style.css">
   <!-- link a vue js -->
   <script src="https://cdn.jsdelivr.net/npm/vue"></script>
   <title>BoolzApp</title>
</head>

<body>

   <div id="root" class="main-container">

      <!-- primo piano -->
      <div class="app-container flex">

         <div class="left-container flex flex-column">

            <!-- sezione utente -->
            <div class="user flex align-center padding-10 bg-lightgrey font-15">

               <div class="user-wrapper flex align-center">
                  <img :src="imagePath + user.avatar + imageExtension" class="small-size" alt="">
                  <div class="info-user margin-left-right-5">{{user.name}}</div>
               </div> <!-- user wrapper -->

               <div class="menu-icons fontawesome-size color-lightgrey">
                  <i class="fas fa-circle-notch"></i>
                  <i class="fas fa-comment-alt"></i>
                  <i class="fas fa-ellipsis-v"></i>
               </div> <!-- menu icons -->

            </div> <!-- user -->

            <!-- sezione notifiche -->
            <div class="notifications flex align-center padding-10 bg-lightblue font-15">

               <!-- font awesome -->
               <div class="rounded-bell-container fontawesome-size">
                  <i class="fas fa-bell-slash"></i>
               </div>

               <div class="notification-text">
                  <div class="font-12">Ricevi notifiche di nuovi messaggi</div>
                  <div class="font-10 color-darkgrey underlined">Attiva notifiche desktop</div>
               </div>

            </div>
            <!-- sezione ricerca -->
            <div class="search-for padding-10 bg-search-for">

               <div class="search-bar-container">
                  <label for="search-bar"><i class="fas fa-search color-lightgrey fontawesome-size"></i></label>
                  <input type="search" id="search-bar" placeholder="Cerca o inizia una nuova chat">
               </div>

            </div>
            <!-- sezione lista chat -->
            <div class="chat-list bg-white">

               <ul>

                  <li v-for="(contact, index) in contacts" class="flex padding-10 font-17" @click="{{active_chat = index}}" :class="(index == active_chat) ? 'active' : null">
                     <img :src="imagePath + contact.avatar + imageExtension" class="standard-size" :alt="contact.name">
                     <div class="margin-left-right-5">{{contact.name}}</div>
                  </li>

               </ul>

            </div> <!-- chat list -->

         </div> <!-- left container -->
         
         <div class="right-container flex flex-column left-border">

            <!-- header della chat -->
            <div class="chat-header flex align-center padding-10 bg-lightgrey font-15">

               <div class="contact-wrapper flex align-center">

                  <img :src="imagePath + contacts[active_chat].avatar + imageExtension" class="small-size" alt="">
   
                  <div class="info-contact flex flex-column">
                     <div class="margin-left-right-5 margin-bottom-5">{{contacts[active_chat].name}}</div>
                     <div class="font-10 margin-left-right-5 color-lightgrey">Ultimo accesso oggi alle</div>
                  </div> <!-- info contact -->

               </div> <!-- contact wrapper -->

               <div class="menu-icons fontawesome-size color-lightgrey">
                  <i class="fas fa-search"></i>
                  <i class="fas fa-paperclip"></i>
                  <i class="fas fa-ellipsis-v"></i>
               </div> <!-- menu icons -->

            </div> <!-- chat header -->
            <!-- area della chat -->
            <div class="chat-main-area bg-img-chat-area ">

               <div class="chat-wrapper flex flex-column">

                  <div v-for="(message, status) in contacts[active_chat].messages" class="message-box" :class="(message.status == 'sent') ? 'sent-message' : 'received-message'">{{message.text}}</div>

               </div>

            </div>
            <!-- sezione invio messaggio -->
            <div class="send-message-area flex align-center justify-self-end bg-send-message-area">

               <div class="emoticons fontawesome-size color-darkgrey">
                  <i class="far fa-smile"></i>
               </div>
               <div class="message-input-bar">
                  <input type="text" placeholder="Scrivi un messaggio">
               </div>
               <div class="voice-recorder fontawesome-size color-darkgrey">
                  <i class="fas fa-microphone"></i>
               </div>             

            </div> <!-- send message area -->

         </div> <!-- right container -->

      </div> <!-- app container -->

   </div> <!-- root main container -->

   <script src="js/script.js"></script>
</body>

</html>
